.no-chat-selected{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: rgba(243, 244, 246, 0.5);
    width: 100%;
    flex: 1;
}
.content{
    max-width: 82rem;
    text-align: center;
}
.icon-wrapper{
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-bottom: 1rem;
}

.chat-title{

}
.icon-container{
    position: relative;
    width:4rem;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.chat-p{
    font-size: 1rem;
       color: rgba(107, 114, 128, 0.6);
}