.profile-form{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}
.header{
    display: flex;
    align-items: center;
    
}

.porfie-image{
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.porfie-image img{
    width: 14rem;
    display: flex;
    
}
.image{
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid orangered;
    border-radius:10% ;
}